/* The animation code test */
@keyframes example {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* ::::::::::::: cloud
::::::::::::::::::::::::::::::  
::::::::::::::::::::::::::::::*/
@keyframes cloud {
  from {
    opacity: 0.3;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  70% {
    opacity: 0.7;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }
  80% {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }
  90% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

@include breakpoint(desktop-wide) {
  @keyframes cloud {
    from {
      opacity: 0.3;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    70% {
      opacity: 0.7;
      -webkit-transform: scale3d(1.2, 1.2, 1.2);
      transform: scale3d(1.2, 1.2, 1.2);
    }
    80% {
      opacity: 0;
      -webkit-transform: scale3d(1.2, 1.2, 1.2);
      transform: scale3d(1.2, 1.2, 1.2);
    }
    90% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      opacity: 0;
    }
    100% {
      opacity: 0.3;
    }
  }
}

/* ::::::::::::: spaceship
::::::::::::::::::::::::::::::  
::::::::::::::::::::::::::::::*/
@keyframes spaceship {
  from {
    top: -13vh;
  }
  80% {
    top: -800px;
    opacity: 0;
  }
  95% {
    top: -13vh;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@include breakpoint(mobile-horizontal) {
  @keyframes spaceship {
    from {
      top: -26vh;
    }
    80% {
      top: -800px;
      opacity: 0;
    }
    95% {
      top: -26vh;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@include breakpoint(tablet) {
  @keyframes spaceship {
    from {
      top: -14vh;
    }
    80% {
      top: -800px;
      opacity: 0;
    }
    95% {
      top: -14vh;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@include breakpoint(tablet-horizontal) {
  @keyframes spaceship {
    from {
      top: -23vh;
    }
    80% {
      top: -150vh;
      opacity: 0;
    }
    95% {
      top: -23vh;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@include breakpoint(desktop) {
  @keyframes spaceship {
    from {
      top: -20vh;
    }
    80% {
      top: -150vh;
      opacity: 0;
    }
    95% {
      top: -20vh;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@include breakpoint(desktop-wide) {
  @keyframes spaceship {
    from {
      top: -155px;
    }
    80% {
      top: -800px;
      opacity: 0;
    }
    95% {
      top: -155px;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

/* ::::::::::::: welcome text 
::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::*/
@keyframes welcome-text {
  from {
    top: 55vh;
  }
  80% {
    top: 45vh;
    opacity: 0;
  }
  95% {
    top: 55vh;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@include breakpoint(mobile-horizontal) {
  @keyframes welcome-text {
    from {
      top: 44vh;
    }
    80% {
      top: 10vh;
      opacity: 0;
    }
    95% {
      top: 44vh;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@include breakpoint(desktop) {
  @keyframes welcome-text {
    from {
      top: 58vh;
    }
    80% {
      top: 35vh;
      opacity: 0;
    }
    95% {
      top: 58vh;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
