h1 {
  color: red;
}
/* ::::::::::::::::::::: colors
:::::::::::::::::::::::::::::::::::: */
$blue-brand: #35eedf;
$green-brand: #b6ef2e;
$gray-brand-heavy: #2f3640;
$gray-brand-medium: #4d5866;
$gray-brand-light: #6c7c8c;

.gradient-brand-primary {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#35eedf+20,b6ef2e+95 */
  background: #35eedf; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #35eedf 20%,
    #b6ef2e 95%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #35eedf 20%,
    #b6ef2e 95%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #35eedf 20%,
    #b6ef2e 95%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35eedf', endColorstr='#b6ef2e',GradientType=1 ); /* IE6-9 */
}

/* ::::::::::::::::::::: layers
:::::::::::::::::::::::::::::::::::: */
$level1: 100; /* first-level */
$level2: 200;
$level3: 300;
$level4: 400;
$level5: 500;
$level6: 600;
$level7: 700;
$level8: 800;
$level9: 900;
$level10: 1000; /* max-level */

/* ::::::::::::::::::::: Typogrtaphy
:::::::::::::::::::::::::::::::::::: */

/* importing Montserrat e Georama from google */
@import url('https://fonts.googleapis.com/css2?family=Georama:ital@0;1&family=Montserrat:ital,wght@0,500;0,700;1,500&display=swap');

/* font-families */
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Georama', serif;

/* font-weights - using with montserrat family */
$font-medium: 500;
$font-bold: 700;

.body-txt-primary {
  font-family: $font-primary;
  font-weight: $font-medium;
  color: $gray-brand-medium;
  font-size: 14px;
  line-height: 1.7;
}

.h-welcome {
  font-family: $font-primary;
  color: $gray-brand-medium;
  font-size: 32px;
  line-height: 1.2;
}

.h-section-tittle {
  font-size: 36px;
  line-height: 1.2;
  color: $gray-brand-medium;
  margin: 15px 10px;
  @include breakpoint(mobile-horizontal) {
    margin: 15px 10px;
  }
  @include breakpoint(tablet) {
    margin: 0.83em 5vw;
  }
  @include breakpoint(desktop-wide) {
    margin-left: 60px;
  }
}
